.calendar {
    $self: &;

    &-container {
        min-height: calc(100vh - 50px - 4rem);
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 1fr;

        text-align: center;

        &--title {
            text-transform: capitalize;
            font-weight: $fw-bold;

            #{ $self }-day {
                cursor: normal;
            }
        }

        &:before {
            content: '';

            width: 0;
            padding-bottom: 100%;

            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }
    }

    &-toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: $fz-5;
        font-weight: bold;

        margin-bottom: 8px;
    }

    &-day {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        border-radius: 100%;

        &:first-child {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }

        &--active {
            border: 1px solid $color-grey-2;
            // color: $color-grey-5;
            // cursor: pointer;
        }

        &--disabled {
            // color: $color-grey-3;
            cursor: not-allowed;
            opacity: .2;

        }

        &--selected {
            background-color: $color-orange;
            color: $color-white;
        }
    }
}
