<div class="modal modal-full ie-scroll-fix" id="modal-normal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div class="modal modal-full ie-scroll-fix" id="modal-high" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>